<main id="main" class="main overflow-auto">
  <div class="pagetitle">
    <h1>Sales</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home/dashboard">Other Income</a>
        </li>
        <li class="breadcrumb-item active">lists</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="mt-2 mb-2">
              <h5 class="card-title">Other Incomes</h5>
              <hr class="border-2 mb-2" />
            </div>
            <div class="d-flex justify-content-between">
              <div class="col-4 mt-2">
                <div class="input-group rounded">
                  <input
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    name="searchInput"
                    aria-describedby="search-addon"
                    aria-label="Search"
                  />
                  <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                  </span>
                  <a
                    style="cursor: pointer; margin-left: 6px"
                    class="pe-auto mt-1 ml-2 text-decoration-underline"
                  >
                    clear Search</a
                  >
                </div>
              </div>

              <div class="col-4 mt-2">
                <div>
                  <a
                    style="cursor: pointer"
                    *ngIf="isAccountant || isMaster"
                    (click)="displayCreateOtherIncomeComp()"
                  >
                    <img src="../../../../../../assets/img/createProduct.png" />
                    <span> Create Other Income </span>
                  </a>
                  <button
                    id="createNewOtherIncome"
                    class="createNewTableRecord"
                    style="display: none"
                  ></button>
                </div>
              </div>

              <nav style="margin-top: 2px" aria-label="Page navigation ">
                <ul class="pagination">
                  <li class="page-item">
                    <a
                      (click)="changePage('prev')"
                      class="page-link pe-auto"
                      aria-label="Previous"
                    >
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link">{{ currentPageNumber }}</a>
                  </li>
                  <li class="page-item">
                    <a
                      (click)="changePage('next')"
                      class="page-link pe-auto"
                      aria-label="Next"
                    >
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

            <table
              cellspacing="0"
              cellpadding="0"
              class="table table-bordered table-striped"
              id="OtherIncomeRecordsTable"
            >
              <thead>
                <tr>
                  <th
                    class="first-child sortable"
                    sortDir="asc"
                    sortCol="organization_id"
                    id="sn"
                  >
                    Sn
                  </th>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="organization_name"
                    id="source"
                  >
                    Source
                  </th>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="customer_name"
                    id="amount"
                  >
                    Amount
                  </th>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="master_name"
                    id="dateNepali"
                  >
                    Date Nepali
                  </th>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="employee_type"
                    id="companyId"
                  >
                    Company Id
                  </th>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="married_group_name"
                    id="branchId"
                  >
                    Branch Id
                  </th>
                  <th class="last-child">Actions</th>
                </tr>
              </thead>
              <tbody id="prodTable">
                <tr>
                  <span
                    class="noProdRecord"
                    *ngIf="availableOtherIncomes.length < 1"
                    >No records found</span
                  >
                </tr>
                <!-- <c:forEach items="${products}" var="product">  -->
                <tr
                  *ngFor="
                    let otherIncome of availableOtherIncomes;
                    let i = index
                  "
                  id="income_{{ otherIncome.sn }}"
                >
                  <td>{{ i + 1 }}</td>

                  <td>
                    <span *ngFor="let incomeSource of otherIncomeSources"
                      ><span *ngIf="incomeSource.id === otherIncome.source">{{
                        incomeSource.name
                      }}</span></span
                    >
                  </td>
                  <td>{{ otherIncome.amount }}</td>
                  <td>{{ otherIncome.dateNepali }}</td>
                  <td>{{ otherIncome.companyId }}</td>
                  <td>{{ otherIncome.branchId }}</td>
                  <td *ngIf="isAccountant || isMaster" class="last-child">
                    <a
                      id="editOtherIncome"
                      (click)="editOtherIncome(otherIncome.sn)"
                      class="createNewTableRecord"
                    >
                      <img
                        src="../../../../assets/resources/images/editRow.png"
                      />
                    </a>
                    <a (click)="deleteOtherIncome(otherIncome.sn)" class="">
                      <img
                        src="../../../../assets/resources/images/deleteRow.png"
                      />
                    </a>
                    <!-- <button
                        style="display: none"
                        class="createNewTableRecord"
                        id="confirmAlert"
                      >
                        cancel
                      </button> -->
                  </td>
                </tr>
                <!-- </c:forEach>	 -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<ngx-smart-modal
  identifier="createOtherIncomePopup"
  id="createOtherIncomePopUp"
  (mousedown)="CommonService.handleMouseDown($event)"
  (mousemove)="CommonService.elementDrag($event)"
  (mouseup)="CommonService.clear()"
  [dismissable]="false"
  [closable]="false"
>
  <app-create-other-income
    *ngIf="enableCreateOtherIncome"
    (successfullyAddedOtherIncomeEvent)="
      fetchLimitedOtherIncomes(); destroyCreateOtherIncome($event)
    "
    (destroyCreateOtherIncomeComponent)="destroyCreateOtherIncome($event)"
  ></app-create-other-income>
</ngx-smart-modal>

<ngx-smart-modal
  identifier="updateOtherIncomePopup"
  id="updateOtherIncomepopup"
  (mousedown)="CommonService.handleMouseDown($event)"
  (mousemove)="CommonService.elementDrag($event)"
  (mouseup)="CommonService.clear()"
  [closable]="false"
  [dismissable]="true"
>
  <app-update-other-income
    *ngIf="showOtherIncomeEditComp"
    [updateOtherIncomeId]="otherIncomeEditId"
    (successfullyUpddatedOtherIncomeEvent)="
      otherIncomeUpdatedSuccessfully($event)
    "
    (destroyUpdateOtherIncomeCompEvent)="disableShowEditComp($event)"
  >
  </app-update-other-income>
</ngx-smart-modal>

<ngx-smart-modal identifier="confirmAlertPopup" [closable]="false">
  <app-confirm-alert
    *ngIf="confirmAlertDisplay"
    [msg]="'Are you sure to delete this other income?'"
    (destroyConfirmAlertSectionEmitter)="
      destroyConfirmAlertSectionEmitter($event)
    "
  >
  </app-confirm-alert>
</ngx-smart-modal>
