<div class="row mt-6 text-center">
  <h2>Reset Password !!!!</h2>
  <div class="col-md-12">
    <form [formGroup]="resetPassordForm" (ngSubmit)="submitResetPassword()">
      <div>
        <input
          type="text"
          #resetPassword
          formControlName="resetPassword"
          id="password"
          placeholder="enter password"
          style="text-align: center; width: 34.5%"
        />
      </div>
      <div>
        <input
          type="text"
          placeholder="re enter password"
          id="confirmPassword"
          formControlName="confirmPassword"
          #confirmPassword
          style="text-align: center; width: 34.5%"
          (keyup)="checkPassword(confirmPassword.value)"
        />
        <span style="color: red" id="notMatchMsg" #noMatchMsg></span>
      </div>
      <div>
        <button
          type="submit()"
          [disabled]="
            resetPassordForm.invalid ||
            resetPassword.value !== confirmPassword.value ||
            processing
          "
          style="text-align: center; width: 34.5%; margin-top: 5px"
        >
          <mat-spinner
            style="width: 25px; height: 25px; margin-left: 45%"
            *ngIf="processing"
          ></mat-spinner>
          <span *ngIf="!processing">Reset Password</span>
        </button>
      </div>
    </form>
  </div>
</div>
