<main id="main" class="main overflow-auto">
  <div class="pagetitle">
    <h1>Receipt</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item active">Receipt</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="mt-2 mb-2">
              <h5 class="card-title">ReceiptTable</h5>
              <hr class="border-2 mb-2" />
            </div>

            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="col-4 mt-2">
                    <div class="input-group rounded">
                      <input
                        type="search"
                        class="form-control rounded"
                        placeholder="Search"
                        name="searchInput"
                        aria-label="Search"
                        aria-describedby="search-addon"
                      />
                      <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                      </span>
                      <a
                        style="cursor: pointer; margin-left: 6px"
                        class="pe-auto mt-1 ml-2 text-decoration-underline"
                      >
                        clear Search</a
                      >
                    </div>
                  </div>

                  <div class="col-4 mt-2">
                    <div>
                      <a
                        id="createReceiptBtn"
                        #createReceipt
                        *ngIf="isAccountant || isMaster"
                        style="cursor: pointer"
                        (click)="onCreate()"
                      >
                        <img
                          src="../../../../../../assets/img/createProduct.png"
                        />
                        <span> Create Receipt</span>
                      </a>
                    </div>
                  </div>

                  <nav style="margin-top: 2px" aria-label="Page navigation ">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link pe-auto" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link pe-auto" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>

                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Expense Id</th>
                      <th>Company Id</th>
                      <th>Branch Id</th>
                      <th>Amount</th>
                      <th>Party Id</th>
                      <th>Mode Id</th>
                      <th>Tds Deducted Amount</th>
                      <th>Post Date Check</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let receipt of receipts">
                      <td>{{ receipt.sn }}</td>
                      <td>{{ receipt.companyId }}</td>
                      <td>{{ receipt.branchId }}</td>
                      <td>{{ receipt.amount }}</td>
                      <td>{{ receipt.partyId }}</td>
                      <td>{{ receipt.modeId }}</td>
                      <td>{{ receipt.tdsDeductedAmount }}</td>
                      <td>{{ receipt.postDateCheck }}</td>
                      <td>{{ formatDate(+receipt.date) }}</td>
                      <td>{{ receipt.status }}</td>
                      <td *ngIf="isAccountant || isMaster" class="last-child">
                        <a id="editPayment" class="createNewTableRecord">
                          <img src="../../../../../assets/img/editRow.png" title="Edit" />
                        </a>
                        <a (click)="deleteReceipt(receipt.sn)" class="">
                          <img src="../../../../../assets/img/deleteRow.png" title="Delete"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<a
  type="button"
  id="ReceiptPopup"
  data-bs-toggle="modal"
  data-bs-target="#Receipt"
  [hidden]="true"
></a>

<div class="modal fade" data-bs-backdrop="false" id="Receipt" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div cdkDrag class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Receipt</h5>
        <button
          #closeButton
          id="closeButton"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="card" style="margin-bottom: 0px">
        <div class="card-body">
          <form [formGroup]="ReciptForm">
            <div class="form-group row">
              <label for="partyId" class="col-md-3 col-form-label"
                >Party Id</label
              >
              <div class="col-md-6">
                <input
                  type="number"
                  id="partyId"
                  formControlName="partyId"
                  class="form-control mandatory"
                  placeholder="pan or phone (10 digits)"
                  (keydown.enter)="fetchPurchaserInfo()"
                />
                <button
                  id="selectSeller"
                  class="createNewTableRecord"
                  style="display: none"
                ></button>
              </div>
              <div class="col-md-3"></div>
            </div>

            <div class="form-group row">
              <label for="amount" class="col-md-3 col-form-label">Amount</label>
              <div class="col-md-6">
                <input
                  type="number"
                  id="amount"
                  class="form-control"
                  formControlName="amount"
                />
              </div>
              <div class="col-md-3"></div>
            </div>

            <div class="form-group row">
              <label for="Tds" class="col-md-3 col-form-label">TDS</label>
              <div class="col-md-6">
                <input
                  type="number"
                  id="Tds"
                  class="form-control"
                  formControlName="Tds"
                />
              </div>
              <div class="col-md-3"></div>
            </div>

            <div class="form-group row">
              <label for="paymentModeId" class="col-md-3 col-form-label"
                >Payment Mode</label
              >
              <div class="col-md-6">
                <div style="padding-left: 4px">
                  <select
                    id="paymentModeId"
                    style="width: 290px"
                    formControlName="paymentModeId"
                    class="form-control"
                    (change)="paymentModeChange(selected.value)"
                    #selected
                  >
                    <option selected disabled>Select the state</option>
                    <option *ngFor="let mode of paymentMode" [value]="mode.id">
                      {{ mode.modeName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>

            <div class="form-group row">
              <label for="postDateCheck" class="col-md-3 col-form-label"
                >Post Check Date</label
              >
              <div class="col-md-6">
                <div style="padding-left: 4px">
                  <select
                    id="postDateCheck"
                    style="width: 290px"
                    formControlName="postDateCheck"
                    class="form-control"
                    #selected
                  >
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Post Check Date</label>
              <div class="col-md-6">
                <div style="margin: auto">
                  <span style="margin: auto">BS </span>
                  <input
                    type="text"
                    id="nepali-datepicker"
                    placeholder="Select  Date"
                    class="form-control"
                  />
                  <span style="margin: auto">AD</span>
                  <input
                    disabled
                    type="text"
                    id="AdDate"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>

            <div class="custom-modal-footer">
              <input
                type="submit"
                value="Submit"
                (click)="onSubmit()"
                [disabled]="!enableCreateReceiptBtn"
                class="btn btn-success border-rad"
                id=""
              />
              <input
                type="button"
                value="Cancel"
                (click)="cancel()"
                class="btn btn-secondary"
                style="margin-left: 10px"
              />
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal
identifier="confirmAlertPopup"
id="confirmAlertpopup"
(mousedown)="commonService.handleMouseDown($event)"
(mousemove)="commonService.elementDrag($event)"
(mouseup)="commonService.clear()"
[closable]="false"
>
<app-confirm-alert
  *ngIf="confirmAlertDisplay"
  [msg]="'Are you sure to delete this receipt ? '"
  (destroyConfirmAlertSectionEmitter)="
    destroyConfirmAlertSectionEmitter($event)
  "
>
</app-confirm-alert>
</ngx-smart-modal>
