<main id="main" class="main overflow-auto">
    <div class="pagetitle">
      <h1>Purchase Tally</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/home/dashboard">Home</a>
          </li>
          <li class="breadcrumb-item active">Purchase Tally</li>
        </ol>
      </nav>
    </div>
  
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="mt-2 mb-2">
                <h3 class="card-title">Existing Purchase Tally</h3>
                <hr class="border-2 mb-2" />
              </div>
  
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div class="col-4 mt-2">
                      <div class="input-group rounded">
                        <input
                          type="search"
                          class="form-control rounded"
                          placeholder="Search"
                          name="searchInput"
                          aria-label="Search"
                          aria-describedby="search-addon"
                          (keydown.enter)="fetchLimitedCreditorsList()"
                          [(ngModel)]="searchWildCard"
                        />
                        <span class="input-group-text border-0" id="search-addon">
                          <i class="fas fa-search"></i>
                        </span>
                        <a
                          style="cursor: pointer; margin-left: 6px"
                          class="pe-auto mt-1 ml-2 text-decoration-underline"
                        >
                          clear Search</a
                        >
                      </div>
                    </div>
  
                    <nav style="margin-top: 2px" aria-label="Page navigation ">
                      <ul class="pagination">
                        <li class="page-item">
                          <a
                            (click)="changePage('prev')"
                            class="page-link pe-auto"
                            aria-label="Previous"
                          >
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link">{{ currentPageNumber }}</a>
                        </li>
                        <li class="page-item">
                          <a
                            (click)="changePage('next')"
                            class="page-link pe-auto"
                            aria-label="Next"
                          >
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
  
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Vat/Pan</th>
                        <th>Total Amount</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let creditor of creditor; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ creditor.sellerName }}</td>
                        <td>{{ creditor.sellerPan }}</td>
                        <td>{{ creditor.totalAmount }}</td>
  
                        <!-- <td>{{ product.unit }}</td> -->
                        <td class="last-child">
                          <div>
                            <a
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Detail"
                              (click)="routeToDetail(creditor.sellerPan)"
                            >
                              <img src="../../../../../assets/img/editRow.png" />
                            </a>
                            <a style="margin-left: 5px;" *ngIf=" indexOfSpinner !== i " (click)="sendEmail(creditor, i)" title="send email">
                              <i class="fa-regular fa-paper-plane"></i>
                            </a>
                            <mat-spinner 
                              style="width: 15px; height: 15px; margin-left: 5px; display: inline-block;"
                              *ngIf=" indexOfSpinner === i"
                            ></mat-spinner>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  