<main id="main" class="main overflow-auto">
  <div class="pagetitle">
    <h1>Configuration</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Configuration</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button
                  class="nav-link active"
                  id="userConfigurationPopup"
                  data-bs-toggle="tab"
                  data-bs-target="#userConfiguration"
                >
                  User Configuration
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-edit"
                >
                  Branch Configuration
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active" id="userConfiguration">
                <app-user-configuration></app-user-configuration>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <!-- Branch -->
                <app-branch-configuration></app-branch-configuration>
              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
