<div class="container">
  <section
    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
  >
    <div
      class="container"
      style="box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); min-height: 440px"
    >
      <div class="row justify-content-center">
        <div
          class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
        >
          <div class="banner">
            <h2>Welcome to IKhata</h2>
            <p>Discover Effortless Accounting with Our Online App</p>
          </div>
        </div>

        <!-- Right Column for Login Form -->
        <div
          class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          style="margin-bottom: 30px"
        >
          <!-- Begin Login Form -->
          <div class="d-flex justify-content-center py-4">
            <a href="index.html" class="logo d-flex align-items-center w-auto">
              <img src="assets/img/logo.png" alt="" />
              <span class="d-none d-lg-block">IKhata</span>
            </a>
          </div>
          <!-- End Logo -->

          <div class="card mb-3">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">
                  Login to Your Account
                </h5>
                <p class="text-center small">
                  Enter your username & password to login
                </p>
              </div>

              <form
                id="authenticate"
                [formGroup]="loginForm"
                (ngSubmit)="loginUser()"
                class="row g-3 needs-validation"
                novalidate
              >
                <div class="col-12">
                  <label for="yourUsername" class="form-label">Username</label>

                  <input
                    type="text"
                    name="email"
                    class="form-control"
                    formControlName="email"
                    required
                  />
                  <div
                    *ngIf="
                      loginForm.get('email')?.invalid &&
                      (loginForm.get('email')?.dirty ||
                        loginForm.get('email')?.touched)
                    "
                    style="color: red"
                  >
                    Please enter your valid email!.
                  </div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Password</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    formControlName="password"
                    required
                  />
                  <div
                    *ngIf="
                      loginForm.get('password')?.invalid &&
                      (loginForm.get('password')?.dirty ||
                        loginForm.get('password')?.touched)
                    "
                    style="color: red"
                  >
                    Please enter your password!
                  </div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">
                    Login
                  </button>
                </div>
                <div class="col-12">
                  <a class="small mb-0" style="cursor: pointer;" routerLink="/forgot-password/enter-email">Forgot Password ? </a>
                </div>
                <div class="col-12">
                  <p class="small mb-0">
                    Don't have account?
                    <a
                      style="cursor: pointer; color: rgb(15, 122, 155)"
                      (click)="registerPopUp()"
                      >Register an account</a
                    >
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="credits" style="margin-top: 10px">
      Developed by <a href="https://ishanitech.com/">Ishani Technology</a>
    </div>
  </section>
</div>

<app-register
  [clickPopUp]="initRegisterPopup"
  (emitToReset)="resetRegisterPopup()"
></app-register>
